.header{
    display: block;
    text-align: left;
    background: #1C2C58;
}

.headerTitle {
    display :inline-block;
    text-align:center;
    padding-left:10px;
    padding-right: 30px;
    font:30px Arial Black;
    margin:10px;
    color:#F2ECE1;
}

.custom_upload{
    padding: 10px;
}
.download_link{
  background: none center;
  text-align: center;
  border: none;
  color: darkblue;
  cursor: pointer;
  font: 20px "Arial Black";
}

.download_link:hover,
.download_link:focus {
    text-decoration: underline;
}

.download_link:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
    text-decoration: underline;
}

.button {
    border: none;
    display: inline-block;
    text-align: center;
    font: 15px Tahoma;
    margin:0;
    color:#F2ECE1 ;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    background: none center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
}

.button:hover,
.button:focus {
    text-decoration: underline;
}

.button:focus {
    outline-offset: -4px;
    text-decoration: underline;
}

.button:active {
    transform: scale(0.9);
}

.area1{
position: absolute;

}

.area2{
padding: 10px;
position: absolute;
width: 50%;
visibility: hidden;
}

.area3{
padding: 10px;
position: relative;
visibility: hidden;
}


.custom_box{
width: 50%;
padding: 10px;

}


